// breakpoints
// $breakpoint-tablet: 1024px;

// container
// $container: 1146px;

// color pallet
/*
  primary-0: #ffebea;
  primary-1: #fcd5d2;
  primary-2: #f7a8a3;
  primary-3: #f37870;
  primary-4: #f05044;
  primary-5: #ee3729;
  primary-6: #ee2a1b;
  primary-7: #d41d10;
  primary-8: #bd160c;
  primary-9: #a50907;
*/


// colors
$font-color: #15161d;
$white: #ffffff;

$primary-0: #ffebea;
$primary-1: #fcd5d2;
$primary-2: #f7a8a3;
$primary-3: #f37870;
$primary-4: #f05044;
$primary-5: #ee3729;
$primary-6: #ee2a1b;
$primary-7: #d41d10;
$primary-8: #bd160c;
$primary-9: #a50907;

// heights
$topbar-height: 32px;
$topbar-height-mobile: 60px;